* {
  margin: 0;
  padding: 0;
}
h1{
  display: block;
  font-size: 30px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  width: 700px;
  text-align: center;
  font-family: Tahoma;
}
body {
  background-color: slateblue;
}
input {
  padding: 50px;
  width: 500px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 150px;
  font-size: 20px;
  text-align: center;
}
button {
  display: block;
  padding: 7px;
  width: 200px;
  height: 75px;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
}
select {
  display: block;
  padding: 10px;
  width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}